.plant-card{
  width: 400px;
  height: fit-content;

    display: flex;
    flex-flow: column;
    background-color: #fff;
    box-shadow:  1px 6px 4px rgba(0, 0, 0, 0.082);

    padding-bottom: 38px;
    gap: 16px;
}

.plant-card .plant-name {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.plant-info {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
  padding: 32px;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.price {
  font-size: 20px;
  font-weight: 500;
}

.old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: #AFB2AA;
}

.plant-button {
  border: #8A9B6E 1.62px solid;
  background-color: #8a9b6e1f;
  color: #8A9B6E;
  text-decoration: none;
  border-radius: 20px;
  padding: 6.5px 13px;
  width: fit-content;
}