#right-plant {
  object-fit: cover;
  object-position: left;
  filter: grayscale(100%);
}

.register {
  flex: 1;
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: #1e1e24;
  font-family: 'Inter', sans-serif !important;
  font-weight: 500;

  h1 {
    width: 100%;
    color: #354733;
    align-self: start;
    border-bottom: 1px #afb2aa solid;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  width: fit-content;
  background-color: #f1f2ef;
  border-radius: 10px;
  margin-left: 6%;

  form {
    width: 480px;
  }
}

.error {
  color: rgb(131, 0, 0);
  font-size: 14px;
  margin-bottom: 45px;
}

.form-container input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1.5px solid #afb2aa;
  border-radius: 4px;
  padding: 12px 16px;
  border-radius: 5px;

  margin-bottom: 10px;
}

.form-container input:focus {
  outline: none;
  border: 1.5px solid #354733;
}

.form-container label {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  font-size: 18px;
}

.form-container input[type='radio'] {
  margin-bottom: 0;
  width: auto;
  flex: 1;
}

.form-container .plantLabel {
  width: fit-content;
  height: auto;
  font-size: 16px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-group textarea {
  height: 125px;
  resize: none;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;

  color: #1e1e24;
  font-family: 'Inter', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.form-container button {
  background-color: #354733;
  color: white;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
  padding: 20px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.radio {
  width: fit-content !important;
  height: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
  gap: 3px !important;
}

.radio input[type='radio'] {
  accent-color: #354733;
}

.radio-group span {
  text-align: start;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  text-align: center;
  gap: 16px;
}

.flex-row .input-group {
  width: 47%;
}

.radio-group {
  gap: 3px;
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  #right-plant {
    display: none;
  }

  .input-group {
    gap: 6px;
  }

  .register {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    margin-left: 0;
    max-width: 100%;
    width: 100%;

    form {
      max-width: 100%;
      width: 100%;
      min-width: 0;
    }
  }

  .form-container input {
    width: 100%;
  }
}
