.take-care-container {
  max-width: 100svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4rem;

  padding: 6rem;
}

.columns-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.steps-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  gap: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #354733;
  width: 200px;
  height: 62px;
  border: 1px solid #354733;
  text-decoration: none;
  color: #fcfcfc;
  font-size: 16px;

  align-self: start;
}

.step {
  max-width: 450px;
  gap: 3.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  text-align: center;
}

.column {
  max-width: 450px;
  gap: 3.5rem;
  display: flex;
  justify-content: start;
}

.image-container {
  width: 100%;
  height: 650px;
  display: flex;
  flex-flow: row wrap;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-top: 9rem;
}

.image-container img {
  max-height: 650px;
}

@media (max-width: 768px) {
  .take-care-container {
    padding: 2rem;
  }

  .steps-container {
    gap: 1rem;
  }

  .step {
    gap: 1rem;
  }

  .column {
    max-width: 90svw;
  }

  .column img {
    max-width: 100%;
  }
}
